@namespace Sayeh.AspNetCore.Components
@inherits FluentComponentBase
@typeparam TItem
@if (Item is not null && Owner is not null)
{
    var selectedItemID = Owner.SelectedItem is not null ? Owner.GetKeyForItem(Owner.SelectedItem) : null;
    //var id = Owner.GetKeyForItem(Item);
    var txt = DisplayMember != null ? DisplayMember(Item) : Item.ToString();
    <CascadingValue Value="this" IsFixed="true">
        <fluent-tree-item @ref=Element
                          class="@Class"
                          aria-label="@txt!"
                          aria-expanded="@Expanded.ToAttributeValue()"
                          style="@Style"
                          id="@Id"
                          expanded="@Expanded"
                          selected="@Selected"
                          disabled="@Disabled"
                          @onselectedchange="@HandleSelectedChange"
                          @onexpandedchange="@HandleExpandedChangeAsync"
                          @attributes="AdditionalAttributes">

            @if (Template == null)
            {
                <span class="treeitem-text">@txt</span>
            }
            else
            {
                @Template(Item)
            }

            @if (ChildContent is null)
            {
                if (Owner != null && Children != null)
                {
                    var items = Children.Invoke(Item);
                    @if (Owner.Virtualize && items.Any() && !Expanded)
                    {
                        @* Lazy loading required a "fake" sub-item to simulate the [+] *@
                        <fluent-tree-item>@Resources.Loading</fluent-tree-item>
                    }
                    else
                    {

                        foreach (var item in items)
                        {
                            var childId = Owner.GetKeyForItem(item).ToString()!;
                            <SayehTreeViewItem Item="item"
                                               Children="Children"
                                               InitiallySelected=@(childId == selectedItemID)
                                               Parent="Parent"
                                               Template="Template"
                                               @key=childId
                                               DisplayMember="DisplayMember"/>
                        }


                    }
                }
            }
            else
            {
                @ChildContent(Item)
            }
        </fluent-tree-item>
    </CascadingValue>
}