@namespace Sayeh.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions;
@using Sayeh.AspNetCore.Components.DataGrid.Infrastructure;
@inherits FluentComponentBase
@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]
<CascadingValue Value="this" Name="OwningRow">
    <tr class="@ClassValue"
        style="@StyleValue"
        row-id="@RowId"
        row-index=@RowIndex
        grid-template-columns=@GridTemplateColumns
        row-type=@RowType.ToAttributeValue()
        @onkeydown="@(e => HandleOnRowKeyDown(RowId, e))"
        @onclick="@(e => HandleOnRowClickAsync(RowId))"
        @ondblclick="@(e => HandleOnRowDoubleClickAsync(RowId))"
        @attributes="AdditionalAttributes"
        @onfocus=HandleOnRowFocusAsync>
        @ChildContent

        @if (Columns is not null)
        {
            int colIndex = 1;
            if (Mode == DataGridItemMode.Readonly)
            {
                @* <td style="max-width:20px"><FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size12.ArrowRight())" /></td> *@
                @foreach (var col in Columns)
                {
                    <SayehDataGridCell Options="@(new DataGridCellOptions<TItem>(colIndex++,Item,null,ColumnJustifyClass(col),col.Style))" @key="@col" TItem="TItem">
                        @((RenderFragment)(__builder => col.CellContent(__builder, Item!)))
                    </SayehDataGridCell>
                }
            }
            else if (Mode == DataGridItemMode.Edit)
            {
                <CascadingValue Value="_editContext">
                    @foreach (var col in Columns)
                    {
                        if (col.IsEditable)
                        {
                            <SayehDataGridCell Options="@(new DataGridCellOptions<TItem>(colIndex++,Item,null,ColumnJustifyClass(col),col.Style))" @key="@col" TItem="TItem">
                                @((RenderFragment)(__builder => ((IEditableColumn<TItem>)col).CellEditContent(__builder)))
                            </SayehDataGridCell>
                        }
                        else
                        {
                            <SayehDataGridCell Options="@(new DataGridCellOptions<TItem>(colIndex++,Item,null,ColumnJustifyClass(col),col.Style))" @key="@col" TItem="TItem">
                                @((RenderFragment)(__builder => col.CellContent(__builder, Item!)))
                            </SayehDataGridCell>
                        }
                    }
                    <FluentValidationSummary />
                </CascadingValue>
            }
        }
    </tr>
</CascadingValue>
